<div ngClass="homePage">
  <div ngClass="homePageFooter">
    <h3>Ваши способности изумительны</h3>
  </div>
  <div ngClass="homePageIcon">
    <div ngClass="blockImagesSkills"  id="blockImagesSkills1">
      <img src='assets/images/camera.png' ngClass="img imgCamera">
    </div>
    <div ngClass="blockImagesSkills"  id="blockImagesSkills2">
      <img src='assets/images/video-camera.png' ngClass="img imgVideoCamera">
    </div>
    <div ngClass="blockImagesSkills" id="blockImagesSkills3">
      <img src='assets/images/theater-masks.png' ngClass="img imgTheaterMasks">
    </div>
    <div ngClass="blockImagesSkills" id="blockImagesSkills4">
      <img src='assets/images/clapperboard.png' ngClass="img imgClapperboard">
    </div>
  </div>
  <div ngClass="textImgBlock">
    <!--<h3>{{skils[1].skil}}</h3>-->
    <h3>Работайте в удовольствие</h3>
  </div>
  <div ngClass="textDescription">
    <h3>
      Данный сайт поможет вам найти интерестную работу <br>
      которая соответствует вашим интересам. <br>

    </h3>
  </div>
</div>
