.logIn{
  width:50%;
  margin-left: 25%;
  margin-top: 170px;
  height:auto;
  background: white;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 50px;
  padding-bottom: 40px;
}

.inputLogIn{
  display:list-item;
  font-size: 20px;
  text-align: center;
  height: 50px;
  width: 50%;
  margin-left: 25%;
  margin-top: 30px;
  border: 2px solid #dedede;
}

.inputLogIn:hover{
  transition: 1s;
  border: 2px solid #262626;
}

.inputLogIn:not(:hover) {
  transition: 1s;
  border: 2px solid #dedede;
}

.inputButton{
  width: auto;
  height: 50px;
  font-size: 20px;
  text-decoration: none;
  display: inline-block;
  background-color: #262626;
  color: white;
  border-style:solid;
  border-color: #262626;
  margin-top: calc(60px/2);
}
.inputButton:hover{
  background-color: white;
    transition: 1s;
    color: black;
}
.inputButton:not(:hover){
  background-color: #262626;
    transition: 1s;
    color: white;
}
