<div class="checkIn">
  <form class="formcheckIn" action="index.html" method="post">

    <input type="text" name="" value="" placeholder="Имя" ngClass="inputCheckIn">
    <input type="text" name="" value="" placeholder="Фамилия" ngClass="inputCheckIn">
    <input type="text" name="" value="" placeholder="Ваш логин" ngClass="inputCheckIn">
    <input type="text" name="" value="" placeholder="E-mail" ngClass="inputCheckIn">
    <input type="text" name="" value="" placeholder="O себе" ngClass="inputCheckIn">
    <input type="text" name="" value="" placeholder="Имя" ngClass="inputCheckIn">
    <button type="button" name="button" ngClass="inputButton" >Регистрация</button>
    <p></p>
  </form>
</div>
